@model Pedido

<h3>Seu pedido está quase concluído</h3>
<hr />
<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Cep" class="control-label" id="labelCep"></label>
            <input asp-for="Cep" class="form-control" id="Cep" value="" onblur="pesquisacep(this.value);" onfocus="mostrarMensagemCep();" oninput="mudarCorLabel('labelCep')" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Endereco1" class="control-label" id="labelEndereco1"></label>
                <input asp-for="Endereco1" class="form-control" id="Endereco1" oninput="mudarCorLabel('labelEndereco1')" />
                <span asp-validation-for="Endereco1" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Endereco2" class="control-label" id="labelEndereco2"></label>
                <input asp-for="Endereco2" class="form-control" id="Endereco2" oninput="mudarCorLabel('labelEndereco2')" />
                <span asp-validation-for="Endereco2" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Cidade" class="control-label" id="labelCidade"></label>
            <input asp-for="Cidade" class="form-control" id="Cidade" oninput="mudarCorLabel('labelCidade')" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Estado" class="control-label" id="labelEstado"></label>
            <input asp-for="Estado" class="form-control" id="Estado" oninput="mudarCorLabel('labelEstado')" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Nome" class="control-label" id="labelNome"></label>
            <input asp-for="Nome" class="form-control" oninput="mudarCorLabel('labelNome')" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Sobrenome" class="control-label" id="labelSobrenome"></label>
            <input asp-for="Sobrenome" class="form-control" oninput="mudarCorLabel('labelSobrenome')" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Telefone" class="control-label" id="labelTelefone"></label>
            <input asp-for="Telefone" class="form-control" oninput="mudarCorLabel('labelTelefone')" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Email" class="control-label" id="labelEmail"></label>
            <input asp-for="Email" class="form-control" oninput="mudarCorLabel('labelEmail')" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="form-group col-md-3">
            <input class="btn btn-success" type="submit" value="Concluir Pedido" />
        </div>
        &nbsp;
        <div class="form-group col-md-3">
            <a class="btn btn-outline-info" asp-controller="CarrinhoCompra" asp-action="Index">Retornar ao Carrinho</a>
        </div>
    </div>
</form>

<!-- Adicionando Javascript -->

<script src="~/js/CepEndereco.js"></script>

