<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>50ab1ca3-185a-4796-a9a1-d8a723036093</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>