@model HomeViewModel

<partial name="_Carousel" />

<h2>Os mais pedidos da semana! </h2>
<h4>Ficou com água na boca???</h4>

<div class="row">
    @foreach (var pizza in Model.PizzasFavoritas)
    {
        <partial name="_PizzasResumo" for="@pizza" />
    }
</div>
