<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="joserpinto@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/Images/phone-app-icon.png" />
            </span>
            <h5>(11) 999999999</h5>
            <br />
            <span>
                <img src="~/Images/Home-iconred.png" />
            </span>
            <h5>Av. Paulista, 1000 - São Paulo</h5>
        </p>
    </div>
</div>
