html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body.high-contrast {
  background-color: #000;
  color: #FFF;
}

.high-contrast .navbar, .high-contrast footer {
  background-color: #333;
  color: #FFF;
}